*{
     margin: 0;
  padding: 0;
}


.logo{
    
    height: 5rem;
    width:8rem;
    margin-left: 2rem;
}
nav{
    background-color: black;
    display: flex;
    justify-content: space-between;
    height: 6rem;
    
}
.right{
    margin-right: 5rem;
    display: flex;
    text-decoration: none;
    align-self: center;
    gap: 4rem;
}
.right a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}

div{
    display: flex;
    justify-content: center;
}
img{
    height: fit-content;
    width: fit-content;
    
}

.back{
    background:no-repeat ;
    width:100%;
}